/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button when you move the mouse over it (hover) */
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
}

.SingleComment {
  display: flex;
}

.starsForComments {
  padding-top: 5px;
  flex: 20%;
  vertical-align: middle;
}

.comment {
  flex: 70%;
  vertical-align: middle;
  padding-bottom: 5px;
}

.user {
  flex: 10%;
  vertical-align: middle;
  padding-bottom: 5px;
}
