/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #ede7f6;
  color: #4a148c;
  border: 1px solid rgb(74, 20, 140, 0.7);
  border-radius: 2px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button when you move the mouse over it (hover) */
.collapsible:hover {
  background-color: #e0d4f3;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 5px 18px;
  padding-top: 10px;
  background-color: #f4f1f8;
  overflow: hidden;
}

.SingleComment {
  display: flex;
  border-bottom: 1px solid rgb(206, 206, 206);
  margin-bottom: 1px;
}

.starsForComments {
  padding-top: 5px;
  flex: 20%;
  vertical-align: middle;
}

.comment {
  flex: 65%;
  vertical-align: middle;
  padding-bottom: 5px;
}

.user {
  flex: 10%;
  vertical-align: middle;
  padding-bottom: 5px;
}

.delete {
  flex: 5%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: red;
  font-size: large;
}

.delete-space {
  flex: 5%;
}
