.MainContent {
  display: flex;
  margin: 0 30px 20px 0;
  padding-left: 30px;
  top: 0;
}

.form-control {
  width: 60%;
}

.left {
  flex: 80%;
}

.right {
  flex: 20%;
}

.SearchInput {
  width: 100%;
  margin: 0;
  position: fixed;
  background-color: white;
  display: flex;
}

input {
  width: 60%;
  padding: 10px;
  margin: 18px;
}

.FoundResource {
  margin-top: 30px;
}
