.MainContent {
  display: flex;
  margin: 0 30px 20px 0;
  padding-top: 20px;
  padding-left: 30px;
  top: 0;
}

.left {
  flex: 80%;
}

.right {
  flex: 20%;
}

.SearchInput {
  width: 100%;
  margin: 0;
  position: fixed;
  background-color: white;
}

input {
  width: 70%;
  padding: 10px;
  margin: 18px;
}
