.SingleResourceLoggedIn {
  padding: 10px 8px;
  margin: 10px 15px;
  border: 1px solid #00695c;
  border-radius: 5px;
  background-color: #b2dfdb;
}

.ResourceHeader {
  display: flex;
}

.SingleResourceLoggedIn h3 {
  flex: 70%;
}

.DateAuthor {
  flex: 30%;
}

.AddToStudy {
  background-color: gold;
}

.DeleteToStudy {
  background-color: tomato;
}
