.SingleResourceLoggedIn {
  padding: 20px 30px;
  margin: 15px 15px;
  border-radius: 5px;
  background-color: #d1c4e9;
}

.ResourceHeader {
  display: flex;
}

.ResourceNameAndRating {
  float: left;
  flex: 85%;
  padding-bottom: 0;
  display: flex;
}

.ResourceName {
  padding-right: 20px;
}

.AddToStudy {
  font-size: 16px;
  padding: 10px 5px;
  float: right;
  flex: 15%;
  background-color: #ffe0b2;
  border: 2px solid #ff9800;
  border-radius: 20px;
}

.DeleteToStudy {
  font-size: 16px;
  float: right;
  padding: 10px 5px;
  flex: 15%;
  background-color: #ffccbc;
  border: 2px solid #ff5722;
  border-radius: 20px;
}

.AddToStudy:hover {
  background-color: #ffb74d;
  cursor: pointer;
}

.DeleteToStudy:hover {
  background-color: #ff8a65;
  cursor: pointer;
}

.author {
  margin-top: 0;
  padding: 0;
}

.description {
  font-size: 20px;
  font-style: italic;
}

.addedBy {
  padding: 0;
}

.rating {
  font-size: 20px;
  padding-top: 3px;
}

.ResourceTags {
  display: flex;
  margin-bottom: 20px;
}

.ResourceTag {
  color: white;
  margin-left: 2px;
  margin-bottom: 4px;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: #7e57c2;
  transition: 0.3s;
}
