.SingleResourceLoggedIn {
  padding: 20px 30px;
  margin: 15px 15px;
  border-radius: 5px;
  background-color: #d1c4e9;
}

.ResourceHeader {
  display: flex;
}

.ResourceNameAndRating {
  float: left;
  flex: 70%;
  padding-bottom: 0;
  display: flex;
}

.ResourceName {
  padding-right: 20px;
}

.AddToStudy {
  font-size: 16px;
  padding: 10px;
  float: right;
  flex: 30%;
  background-color: #ffe0b2;
  border: 2px solid #ff9800;
  border-radius: 20px;
}

.DeleteToStudy {
  font-size: 16px;
  float: right;
  padding: 10px;
  flex: 30%;
  background-color: #ffccbc;
  border: 2px solid #ff5722;
  border-radius: 20px;
}

.AddToStudy:hover {
  background-color: #ff8a65;
  cursor: pointer;
}

.DeleteToStudy:hover {
  cursor: pointer;
}

.author {
  margin-top: 0;
  padding: 0;
}

.addedBy {
  padding: 0;
}

.rating {
  font-size: 20px;
  padding-top: 3px;
}
