.on {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(248, 215, 27);
  font-size: large;
}
.off {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(122, 120, 120);
  font-size: large;
}
